*{
  padding: 0%;
  margin: 0%;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to right, #fc4a1a, #f7b733);
  
}

/* header */

.img{
  width: 100%;
  height: 300px;
  background: url(/IMC/assets/img1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.1px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(20, 123, 170);
  text-shadow: 4px 5px 4px rgb(27, 25, 25);
  margin-top: 10%;
}

.container {
  max-width: 80%;
  background-color: aquamarine;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 15px;
}

.input {
  margin-bottom: 2rem;
  text-align: center;
}

input {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 15px;
  border-color: #fc4a1a;
}

.container__btn {
  width: 50px;
  margin: 0 auto;
}

#btn {
  display: inline-block;
  letter-spacing: 3px;
  font-weight: 800;
  margin: 0 auto;
  padding: 10px;
  color: #fc4a1a;
  border-radius: 10px;
  border-color: #fc4a1a;
  cursor: pointer;
}

#resultado {
  max-width: 50%;
  margin: 15px auto;
  padding: 1rem;
  border: 1px solid #fc4a1a;
  border-radius: 10px;
  background-color: steelblue;
}

h3 {
  text-align: center;
}

.imc1, .imc2, .imc3, .imc4{
  display: none;
}

p span{
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
  
}

p b{
  color:rgb(20, 123, 170);
}

p i{
  color: #fc4b1a98;
  padding: 10px 0;
}

br{
  margin-bottom: 1.5rem;
}

footer{
  border-top: 1px solid #f7b6335d;
  width: 100%;
  height: 100px;
  background: linear-gradient(180 deg,#fc4a1a, #f7b733);
}

footer .copy{
  margin: 50px 20px;
}